<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TouristSpot Recommendation Service</title>
  <!--부트스트랩 css 추가-->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

</head>
<body>
<div>
  <h2 class="h2-title">TouristSpot Recommendation Results</h2>
</div>

<table class="table table-hover">
  <tr>
    <th class="text-nowrap">관광지명</th>
    <th class="text-nowrap">관광지 주소</th>
    <th class="text-nowrap">거리</th>
    <th class="text-nowrap">길안내 링크</th>
    <th class="text-nowrap">로드뷰 링크</th>
  </tr>
  <tr th:each="form : ${outputFormList}">
    <td class="text-nowrap"th:text="${form.spotName}"></td>
    <td class="text-nowrap"th:text="${form.spotAddress}"></td>
    <td class="text-nowrap"th:text="${form.distance}"></td>
    <td class="text-nowrap"><a class="text-nowrap" th:href="${form.directionUrl}" th:text="${form.directionUrl}"></a></td>
    <td class="text-nowrap"><a class="text-nowrap" th:href="${form.roadViewUrl}" th:text="${form.roadViewUrl}"></a></td>
  </tr>
</table>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

</body>
</html>
